---
import "@shikijs/twoslash/style-rich.css";
import "@docsearch/css";
import "../../assets/base.css";
import "../../assets/docsearch.css";
import type { Meta } from "../../lib/util/generateMeta";

interface Props {
	meta?: Meta;
}

const {
	title = "Docs | Skyware",
	description =
		"Skyware is a collection of libraries for developing on Bluesky.",
	ogImage = "/og/og.png",
} = Astro.props.meta || {};
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta property="og:site_name" content="Skyware" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content={ogImage} />
		<link rel="icon" href="/favicon.ico" sizes="48x48">
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	</head>
	<body class="bg-gray-100 text-gray-900 min-h-screen">
		<slot />
	</body>
</html>
